__pycache__/__init__.cpython-310.pyc
__pycache__/owners.cpython-310.pyc
__pycache__/properties.cpython-310.pyc
__pycache__/ui.cpython-310.pyc
__pycache__/verifyResult.cpython-310.pyc
operators/__pycache__/__init__.cpython-310.pyc
operators/__pycache__/verify_holder.cpython-310.pyc
ui/__pycache__/__init__.cpython-310.pyc
ui/__pycache__/test_panel.cpython-310.pyc
ui/__pycache__/ui.cpython-310.pyc
operators/__pycache__/properties.cpython-310.pyc
ui/__pycache__/lib_preferences.cpython-310.pyc
operators/__pycache__/add_lib_path.cpython-310.pyc
operators/__pycache__/library_download.cpython-310.pyc
bakeduniverseassetlibrary-5b6b936e6c00.json
__pycache__/dependencies.cpython-310.pyc
__pycache__/bu_dependencies.cpython-310.pyc
__pycache__/bu_registration.cpython-310.pyc
__pycache__/install_deps.cpython-310.pyc
__pycache__/progress.cpython-310.pyc
utils/admin_tools.pyc
error_logs/
ui/cats_and_tags.py
Temp_keys.txt
BU_plugin_assets/blend_files/Preview_Rendering.blend1
blender_universe_kit_updater/Blender_Universe_Kit_updater_status.json
utils/admin_tools.py
.vscode\settings.json